/* Start Nav */
.navbar-brand {
  color: #873f00!important;
}
.navbar-default {
  border-bottom: 2px solid #873f00;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #2d1e12;  /*Sets the text hover color on navbar*/
}
.navbar li a {
    color: #2d1e12!important;
}
/* End Nav */


.egg1 {
  padding-bottom: 50px;
}
.egg2 {
  background: #ede2ce;
  padding: 100px 0 70px 0;
}
#box-wrapper {
  background-image: url('../img/backimg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 640px;
}
.egg4 {
  padding: 100px 0 70px 0;
  text-align: center;
}
#imgcirc {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-left: 18px;
  margin-top: 40px;
  margin-bottom: 20px;
}
#imgcirc2 {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 60px;
  display: block;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 50px;
  text-align: center;
}
h3 {
  font-size: 50px!important;
  font-family: Century Gothic, sans-serif;
  font-style: italic;
  text-align: center;
  color: #f7f7f7!important;

}
h4 {
  font-size: 50px!important;
  font-family: Century Gothic, sans-serif;
  font-style: italic;
  text-align: center;
  color: #f7f7f7!important;

}
hr {
  width: 9%;
}
p {
  color: #222!important;
  margin-bottom: 40px!important;
}

input {
  width: 120px;
}

.flat-butt {
  display: inline-block;
  margin: 0 5px;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-size: 14.5px;
  font-weight: bold;
  padding: 12px 20px;
  border: 0;
  background: #2d1e12;
  color: #FFF;
  cursor: pointer;
  outline: 0;
}
.flat-primary-butt:hover {
  background: #e2b88a;
}

.gbtnHollow2  {
     background:  transparent;
     height:  45px;
     line-height:  40px;
     border:  2px solid #f7f7f7;
     display: block;
     float:  none;
     text-align:  center;
     width:  120px;
     margin: 0 auto;
     margin-top: 50px;
     margin-bottom: 100px;
     padding:  0px!important;
     font-size:  14px;
     font-weight: bold;
     color:  #f7f7f7;
 }
 .gbtnHollow2:hover  {
     color:  #f7f7f7;
     background: #2d1e12;
     border:  2px solid #2d1e12;
 }
.gbtnHollow  {
     background:  transparent;
     height:  45px;
     line-height:  40px;
     border:  2px solid #2d1e12;
     display:  inline-block;
     float:  none;
     text-align:  center;
     width:  120px;
     padding:  0px!important;
     font-size:  14px;
     font-weight: bold;
     color:  #2d1e12;
 }
 .gbtnHollow:hover  {
     color:  #f7f7f7;
     background: #2d1e12;
     border:  2px solid #2d1e12;
 }


.egg5 {
  background: #2d1e12;
  padding-top:  100px;
  padding-bottom: 100px;
}

 /* START SOCIALS */
 .icons {
   text-align: center;
   margin-right: 40px;
 }
 .icons a {
   color: #f7f7f7;
   font-size: 55px;
   margin: 15px;
 }
 .icons a:hover {
   color: #873f00;
   transition: 1s;
 }
 /* END SOCIALS */
